.body, .html{
    background: #424242;
}
#logo_landing{
    text-align: center;
    margin-top: 15%;
}
#logo_logo{
    padding-left: 165px;
    height: 17px;
}
#block1, #block2, #block3{
    display:inline-block;
    vertical-align: middle;
}

#block2{
    font-family: Raleway;
    font-weight: 500;
    font-size: 35px;
    color: #34722f;
}


.status {
    display:inline-block;

    height: auto;
    width: 200px;
    background-color: #2e6da4;
}

#edit-button {
    color: red;
    height: 20px;
    width: 20px;
}

#edit-icon:hover {
    color: red;
}

