#logo_landing{
    text-align: center;
    margin-top: 15%;
}

#block1, #block2, #block3{
    display:inline-block;
    vertical-align: middle;
    padding-top: 5px;
}

#block2{
    font-family: Raleway;
    font-weight: 500;
    font-size: 35px;
    color: #34722f;
}

