{% extends "index.html" %} {% block content %}

<h1 class="modal-header"> To-do app </h1>

<div class="modal-body">

    <div class="boards">
        <!-- boards's content -->
        <h4 class="modal-header"><strong>Your boards</strong></h4>
        <label class="control-label"><input class="form-group" type="text" placeholder="Add a new board" id="newBoard"></label>

        <button class="btn btn-primary" id="addNewBoards">Add a new Board</button>

        <div id="boards">
            <!-- inserted here -->
        </div>
    </div>


    <div class="cards" id="card_block">
        <!-- cards's content -->
        <h4 class="modal-header"><strong>Your cards</strong></h4>

        <div class="status" id="block1">
            <div class="status_header">
                <h3><strong>New</strong></h3>
            </div>
            <div class="container_status_new"></div>
            <!-- BOX FOR THE NEW STATUS ELEMENTS -->
            <div class="Status" id="newStatus">
                <div class="status_add_new">
                    <label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="newStatusTask"></label>
                    <button type="button" class="btn btn-save" id="saveToNew">Save</button>

                    <div id="new-cards">
                        <!-- inserted elements -->
                    </div>

                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" id="back-to-boards">Back to Boards</button>
        </div>
    </div>
</div>

<div>
    <div class="dataContainer" id="dataContainer">
        <div class="blocks" id="block1" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="new"></div>
        </div>
        <div class="blocks" id="block2" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="planning"></div>
        </div>
        <div class="blocks" id="block3" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="in_progress"></div>
        </div>
        <div class="blocks" id="block4" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div id="done"></div>
        </div>


    </div>
    <div>
        <button id="myBtn">Add Task</button>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content" id="container">
            <span class="close">&times;</span>
            <h1>Add New Task</h1>
            <input id="task"><button id="add">Add</button>

        </div>
    </div>
</div>

{% endblock %}