{% extends "index.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="navbar-fixed-top">
            <div id="logo_block"></div>
            <div class="navbar-right">

        <div class="dropdown">
                     <button onclick="dropDownMenu()" class="dropbtn">Boards</button>
                 <div id="myDropdown" class="dropdown-content">
                    <a href="#">BOARD1</a>
                    <a href="#">BOARD2</a>
                    <a href="#">BOARD3</a>
                 </div>
                </div>


            </div>
        </div>
        <div class="page-header">
            <h1 id="board_id"> Board ID</h1>
        </div>
        <div class="" id="card_block">
            <div class="status" id="block1">
                <div class="status_header">
                    <h3><strong>New</strong></h3>
                </div>
                <div class="container_status_new"></div> <!-- BOX FOR THE NEW STATUS ELEMENTS -->
                <div class="Status" id="newStatus">
                    <div class="status_add_new">
                        <label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="newStatusTask"></label>
                        <button type="button" class="btn btn-save" id="saveToNew">Save</button>
                        <div id="new-elements">
                            <!-- inserted elements -->
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="status" id="block5">-->
                <!--<div class="status_header">-->
                    <!--<h3><strong>Planning</strong></h3>-->
                <!--</div>-->
                <!--<div class="container_status_planning"></div>-->
                <!--<div class="Status" id="Status">-->
                    <!--<div class="newStatusContent">-->
                        <!--<label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="planningStatusTask"></label>-->
                        <!--<button type="button" class="btn btn-save" id="saveToPlanning">Save</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="status" id="block3">-->
                <!--<div class="status_header">-->
                    <!--<h3><strong>In progress</strong></h3>-->
                <!--</div>-->
                <!--<div class="container_status_inprogress"></div>-->
                <!--<div id="inprogressStatus">-->
                    <!--<label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="inprogressStatusTask"></label>-->
                    <!--<button type="button" class="btn btn-save" id ="saveToInprogress">Save</button>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="status" id="block4">-->
                <!--<div class="status_header">-->
                    <!--<h3><strong>Done</strong></h3>-->
                <!--</div>-->
            <!--<div class="container_status_done"></div>-->
            <!--<div id="doneStatus">-->
                <!--<label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="doneStatusTask"></label>-->
                <!--<button type="button" class="btn btn-save" id ="saveToDone">Save</button>-->
            <!--</div>-->
        </div>
    </div>

    </div>

{% endblock %}

