{% extends "index.html" %}

{% block content %}
    <div class="modal-header">
        Status - with cards
    </div>

    <div style="display: inline-block;">
        <div class="status">
            <h4 class="modal-header"><strong>New status</strong></h4>
                <label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="newStatusTask">
                    <!--<img src="/static/img/edit-icon.ico" id="edit-icon"> -->
                </label>

            <div id="newStatus">
                <button type="button" class="btn btn-success" id="saveToNew">Save</button>
            </div>
        </div>


        <div class="status">
            <h4 class="modal-header"><strong>Planning status</strong></h4>
            <label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="planningStatusTask"></label>

            <div id="planningStatus">
                <button type="button" class="btn btn-success" id ="saveToPlanning">Save</button>
            </div>
        </div>


        <div class="status">
            <h4 class="modal-header"><strong>In progress status</strong></h4>
            <label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="inprogressStatusTask"></label>

            <div id="inprogressStatus">
                <button type="button" class="btn btn-success" id ="saveToInprogress">Save</button>
            </div>
        </div>


        <div class="status">
            <h4 class="modal-header"><strong>Done status</strong></h4>
            <label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="doneStatusTask"></label>

            <div id="doneStatus">
                <button type="button" class="btn btn-success" id ="saveToDone">Save</button>
            </div>
        </div>

        <!--<div class="status" id="planning_status">-->
            <!--<h4 class="modal-header">Planning</h4>-->
            <!--<label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="new_task"></label>-->
            <!--<div>-->
                <!--<button type="button" class="btn btn-success">Save</button>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="status" id="inprogress_status">-->
            <!--<h4 class="modal-header">In progress</h4>-->
            <!--<label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="new_task"></label>-->
            <!--<div>-->
                <!--<button type="button" class="btn btn-success">Save</button>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="status" id="done_status">-->
            <!--<h4 class="modal-header">Done</h4>-->
            <!--<label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="new_task"></label>-->
            <!--<div>-->
                <!--<button type="button" class="btn btn-success">Save</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>

{% endblock %}

