{% extends "index.html" %}

{% block content %}
    <div class="modal-header">
        Status - with cards
    </div>

    <div style="display: inline-block;">
        <div class="status">
            <h4 class="modal-header">New status</h4>
            <label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="new_task"></label>
            <div id="new_status">
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>

        <!--<div class="status" id="planning_status">-->
            <!--<h4 class="modal-header">Planning</h4>-->
            <!--<label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="new_task"></label>-->
            <!--<div>-->
                <!--<button type="button" class="btn btn-success">Save</button>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="status" id="inprogress_status">-->
            <!--<h4 class="modal-header">In progress</h4>-->
            <!--<label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="new_task"></label>-->
            <!--<div>-->
                <!--<button type="button" class="btn btn-success">Save</button>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="status" id="done_status">-->
            <!--<h4 class="modal-header">Done</h4>-->
            <!--<label class="control-label"><input class="form-group" type="text" placeholder="Add a new task" id="new_task"></label>-->
            <!--<div>-->
                <!--<button type="button" class="btn btn-success">Save</button>-->
            <!--</div>-->
        <!--</div>-->
    </div>

{% endblock %}

