<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProMan</title>
    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway">


</head>
<body>
<div class="container-fluid">
    <div id="logo_landing">
        <div id="logo_letter_landing">
            <img id="logo" src="../static/img/logo_short.png" alt="logo_letter">
        </div>
        <div id="logo_block"></div>
    </div>
</div>

<script src="../static/js/logo_anim.js"></script>
</body>
</html>